In [4]:
import pandas as pd
import pathlib
import os

In [6]:
current_path = pathlib.Path().resolve()
BASE_DIR = os.path.join(current_path, "data" ) 
files = os.listdir(BASE_DIR)

In [14]:
for file in files:
    file_dir = os.path.join(BASE_DIR, file)
    df = pd.read_csv(file_dir, index_col = 0)
    print(df)

                       date  comptage      timestamp
0       2018-08-10 00:00:00         1  1533859200000
1       2018-08-10 00:15:00         0  1533860100000
2       2018-08-10 00:30:00         0  1533861000000
3       2018-08-10 00:45:00         0  1533861900000
4       2018-08-10 01:00:00         1  1533862800000
...                     ...       ...            ...
109711  2021-09-25 22:45:00         0  1632609900000
109712  2021-09-25 23:00:00         5  1632610800000
109713  2021-09-25 23:15:00         5  1632611700000
109714  2021-09-25 23:30:00         4  1632612600000
109715  2021-09-25 23:45:00         2  1632613500000

[109716 rows x 3 columns]
                       date  comptage      timestamp
0       2016-01-01 00:00:00         0  1451606400000
1       2016-01-01 00:15:00         6  1451607300000
2       2016-01-01 00:30:00         8  1451608200000
3       2016-01-01 00:45:00        12  1451609100000
4       2016-01-01 01:00:00         5  1451610000000
...                     ...       ...            ...
201091  2021-09-25 22:45:00        51  1632609900000
201092  2021-09-25 23:00:00        37  1632610800000
201093  2021-09-25 23:15:00        35  1632611700000
201094  2021-09-25 23:30:00        19  1632612600000
201095  2021-09-25 23:45:00        19  1632613500000

[201096 rows x 3 columns]
                      date  comptage      timestamp
0      2019-10-09 00:00:00         0  1570579200000
1      2019-10-09 00:15:00         0  1570580100000
2      2019-10-09 00:30:00         0  1570581000000
3      2019-10-09 00:45:00         0  1570581900000
4      2019-10-09 01:00:00         0  1570582800000
...                    ...       ...            ...
68875  2021-09-25 22:45:00         8  1632609900000
68876  2021-09-25 23:00:00         2  1632610800000
68877  2021-09-25 23:15:00         7  1632611700000
68878  2021-09-25 23:30:00         4  1632612600000
68879  2021-09-25 23:45:00         1  1632613500000

[68880 rows x 3 columns]
                       date  comptage      timestamp
0       2018-01-23 00:00:00         0  1516665600000
1       2018-01-23 00:15:00         0  1516666500000
2       2018-01-23 00:30:00         0  1516667400000
3       2018-01-23 00:45:00         0  1516668300000
4       2018-01-23 01:00:00         0  1516669200000
...                     ...       ...            ...
128811  2021-09-25 22:45:00         5  1632609900000
128812  2021-09-25 23:00:00         2  1632610800000
128813  2021-09-25 23:15:00         0  1632611700000
128814  2021-09-25 23:30:00         5  1632612600000
128815  2021-09-25 23:45:00         6  1632613500000

[128816 rows x 3 columns]
                       date  comptage      timestamp
0       2016-01-01 00:00:00         0  1451606400000
1       2016-01-01 00:15:00         0  1451607300000
2       2016-01-01 00:30:00         2  1451608200000
3       2016-01-01 00:45:00         3  1451609100000
4       2016-01-01 01:00:00         0  1451610000000
...                     ...       ...            ...
201091  2021-09-25 22:45:00         5  1632609900000
201092  2021-09-25 23:00:00         6  1632610800000
201093  2021-09-25 23:15:00         3  1632611700000
201094  2021-09-25 23:30:00         5  1632612600000
201095  2021-09-25 23:45:00         2  1632613500000

[201096 rows x 3 columns]
                       date  comptage      timestamp
0       2016-01-01 00:00:00         0  1451606400000
1       2016-01-01 00:15:00         4  1451607300000
2       2016-01-01 00:30:00         7  1451608200000
3       2016-01-01 00:45:00         5  1451609100000
4       2016-01-01 01:00:00         2  1451610000000
...                     ...       ...            ...
201087  2021-09-25 22:45:00         3  1632609900000
201088  2021-09-25 23:00:00        12  1632610800000
201089  2021-09-25 23:15:00         9  1632611700000
201090  2021-09-25 23:30:00        14  1632612600000
201091  2021-09-25 23:45:00        11  1632613500000

[201092 rows x 3 columns]
                       date  comptage      timestamp
0       2016-01-01 00:00:00         4  1451606400000
1       2016-01-01 00:15:00         5  1451607300000
2       2016-01-01 00:30:00        13  1451608200000
3       2016-01-01 00:45:00        12  1451609100000
4       2016-01-01 01:00:00         7  1451610000000
...                     ...       ...            ...
201087  2021-09-25 22:45:00        22  1632609900000
201088  2021-09-25 23:00:00        24  1632610800000
201089  2021-09-25 23:15:00        30  1632611700000
201090  2021-09-25 23:30:00        31  1632612600000
201091  2021-09-25 23:45:00        32  1632613500000

[201092 rows x 3 columns]
                       date  comptage      timestamp
0       2016-01-01 00:00:00         0  1451606400000
1       2016-01-01 00:15:00         4  1451607300000
2       2016-01-01 00:30:00         7  1451608200000
3       2016-01-01 00:45:00         3  1451609100000
4       2016-01-01 01:00:00         5  1451610000000
...                     ...       ...            ...
201091  2021-09-25 22:45:00        30  1632609900000
201092  2021-09-25 23:00:00        38  1632610800000
201093  2021-09-25 23:15:00        40  1632611700000
201094  2021-09-25 23:30:00        30  1632612600000
201095  2021-09-25 23:45:00        33  1632613500000

[201096 rows x 3 columns]
                       date  comptage      timestamp
0       2017-12-19 16:30:00         7  1513701000000
1       2017-12-19 16:45:00         0  1513701900000
2       2017-12-19 17:00:00         0  1513702800000
3       2017-12-19 17:15:00         0  1513703700000
4       2017-12-19 17:30:00         0  1513704600000
...                     ...       ...            ...
132105  2021-09-25 22:45:00        15  1632609900000
132106  2021-09-25 23:00:00        11  1632610800000
132107  2021-09-25 23:15:00         6  1632611700000
132108  2021-09-25 23:30:00         7  1632612600000
132109  2021-09-25 23:45:00         9  1632613500000

[132110 rows x 3 columns]
                      date  comptage      timestamp
0      2019-05-01 00:00:00         0  1556668800000
1      2019-05-01 00:15:00         0  1556669700000
2      2019-05-01 00:30:00         0  1556670600000
3      2019-05-01 00:45:00         0  1556671500000
4      2019-05-01 01:00:00         0  1556672400000
...                    ...       ...            ...
84371  2021-09-25 22:45:00         1  1632609900000
84372  2021-09-25 23:00:00         0  1632610800000
84373  2021-09-25 23:15:00         1  1632611700000
84374  2021-09-25 23:30:00         0  1632612600000
84375  2021-09-25 23:45:00         0  1632613500000

[84376 rows x 3 columns]
                       date  comptage      timestamp
0       2016-01-01 00:00:00         3  1451606400000
1       2016-01-01 00:15:00         6  1451607300000
2       2016-01-01 00:30:00         3  1451608200000
3       2016-01-01 00:45:00         3  1451609100000
4       2016-01-01 01:00:00         3  1451610000000
...                     ...       ...            ...
200859  2021-09-25 22:45:00        29  1632609900000
200860  2021-09-25 23:00:00        21  1632610800000
200861  2021-09-25 23:15:00         9  1632611700000
200862  2021-09-25 23:30:00         6  1632612600000
200863  2021-09-25 23:45:00         8  1632613500000

[200864 rows x 3 columns]
                       date  comptage      timestamp
0       2016-01-01 00:00:00         0  1451606400000
1       2016-01-01 00:15:00         1  1451607300000
2       2016-01-01 00:30:00         0  1451608200000
3       2016-01-01 00:45:00         0  1451609100000
4       2016-01-01 01:00:00         0  1451610000000
...                     ...       ...            ...
200980  2021-09-25 22:45:00         9  1632609900000
200981  2021-09-25 23:00:00         6  1632610800000
200982  2021-09-25 23:15:00         1  1632611700000
200983  2021-09-25 23:30:00         2  1632612600000
200984  2021-09-25 23:45:00         2  1632613500000

[200985 rows x 3 columns]
                       date  comptage      timestamp
0       2016-01-01 00:00:00         9  1451606400000
1       2016-01-01 00:15:00         0  1451607300000
2       2016-01-01 00:30:00         0  1451608200000
3       2016-01-01 00:45:00         0  1451609100000
4       2016-01-01 01:00:00        11  1451610000000
...                     ...       ...            ...
201010  2021-09-25 22:45:00         1  1632609900000
201011  2021-09-25 23:00:00         3  1632610800000
201012  2021-09-25 23:15:00         5  1632611700000
201013  2021-09-25 23:30:00         2  1632612600000
201014  2021-09-25 23:45:00         1  1632613500000

[201015 rows x 3 columns]
                      date  comptage      timestamp
0      2020-09-01 00:00:00         2  1598918400000
1      2020-09-01 00:15:00         2  1598919300000
2      2020-09-01 00:30:00         0  1598920200000
3      2020-09-01 00:45:00         1  1598921100000
4      2020-09-01 01:00:00         1  1598922000000
...                    ...       ...            ...
37416  2021-09-25 22:45:00         1  1632609900000
37417  2021-09-25 23:00:00         0  1632610800000
37418  2021-09-25 23:15:00         0  1632611700000
37419  2021-09-25 23:30:00         0  1632612600000
37420  2021-09-25 23:45:00         0  1632613500000

[37421 rows x 3 columns]
                      date  comptage      timestamp
0      2020-07-28 09:15:00         0  1595927700000
1      2020-07-28 09:30:00         2  1595928600000
2      2020-07-28 09:45:00         0  1595929500000
3      2020-07-28 10:00:00         1  1595930400000
4      2020-07-28 10:15:00         1  1595931300000
...                    ...       ...            ...
40740  2021-09-25 22:45:00         0  1632609900000
40741  2021-09-25 23:00:00         0  1632610800000
40742  2021-09-25 23:15:00         0  1632611700000
40743  2021-09-25 23:30:00         1  1632612600000
40744  2021-09-25 23:45:00         0  1632613500000

[40745 rows x 3 columns]
                      date  comptage      timestamp
0      2020-09-01 00:00:00         0  1598918400000
1      2020-09-01 00:15:00         0  1598919300000
2      2020-09-01 00:30:00         0  1598920200000
3      2020-09-01 00:45:00         0  1598921100000
4      2020-09-01 01:00:00         0  1598922000000
...                    ...       ...            ...
37417  2021-09-25 22:45:00         0  1632609900000
37418  2021-09-25 23:00:00         0  1632610800000
37419  2021-09-25 23:15:00         0  1632611700000
37420  2021-09-25 23:30:00         0  1632612600000
37421  2021-09-25 23:45:00         1  1632613500000

[37422 rows x 3 columns]

                      date  comptage      timestamp
0      2020-09-01 00:00:00         3  1598918400000
1      2020-09-01 00:15:00         0  1598919300000
2      2020-09-01 00:30:00         0  1598920200000
3      2020-09-01 00:45:00         0  1598921100000
4      2020-09-01 01:00:00         0  1598922000000
...                    ...       ...            ...
37413  2021-09-25 22:45:00         1  1632609900000
37414  2021-09-25 23:00:00         0  1632610800000
37415  2021-09-25 23:15:00         0  1632611700000
37416  2021-09-25 23:30:00         1  1632612600000
37417  2021-09-25 23:45:00         1  1632613500000

[37418 rows x 3 columns]
                      date  comptage      timestamp
0      2020-09-01 00:00:00         1  1598918400000
1      2020-09-01 00:15:00         0  1598919300000
2      2020-09-01 00:30:00         1  1598920200000
3      2020-09-01 00:45:00         0  1598921100000
4      2020-09-01 01:00:00         0  1598922000000
...                    ...       ...            ...
37420  2021-09-25 22:45:00         1  1632609900000
37421  2021-09-25 23:00:00         0  1632610800000
37422  2021-09-25 23:15:00         1  1632611700000
37423  2021-09-25 23:30:00         1  1632612600000
37424  2021-09-25 23:45:00         0  1632613500000

[37425 rows x 3 columns]
                      date  comptage      timestamp
0      2020-09-01 00:00:00         0  1598918400000
1      2020-09-01 00:15:00         0  1598919300000
2      2020-09-01 00:30:00         0  1598920200000
3      2020-09-01 00:45:00         0  1598921100000
4      2020-09-01 01:00:00         0  1598922000000
...                    ...       ...            ...
37412  2021-09-25 22:45:00         0  1632609900000
37413  2021-09-25 23:00:00         0  1632610800000
37414  2021-09-25 23:15:00         1  1632611700000
37415  2021-09-25 23:30:00         2  1632612600000
37416  2021-09-25 23:45:00         0  1632613500000

[37417 rows x 3 columns]
                      date  comptage      timestamp
0      2020-07-27 17:15:00        37  1595870100000
1      2020-07-27 17:30:00        40  1595871000000
2      2020-07-27 17:45:00        32  1595871900000
3      2020-07-27 18:00:00        46  1595872800000
4      2020-07-27 18:15:00        25  1595873700000
...                    ...       ...            ...
37423  2021-08-21 18:00:00        21  1629568800000
37424  2021-08-21 18:15:00        30  1629569700000
37425  2021-08-21 18:30:00        18  1629570600000
37426  2021-08-21 18:45:00        20  1629571500000
37427  2021-08-21 19:00:00        32  1629572400000

[37428 rows x 3 columns]