In [ ]:
import pathlib
import os
import requests
from urllib.parse import urlparse, parse_qs
from io import BytesIO
import pandas as pd
import json

# city api https://public.opendatasoft.com/

In [ ]:
GET_REQUEST = "https://www.eco-visio.net/api/aladdin/1.0.0/pbl/publicwebpageplus/4586?withNull=true"

In [3]:
url_endpoint = GET_REQUEST
response = requests.get(url_endpoint)
response

In [4]:
data_json = json.loads(response.content)

In [5]:
data_json[0]

{'token': None,
 'id_pdc_img': 0,
 'idPdc': 100021443,
 'lat': 69.96787,
 'lon': 23.36929,
 'nom': 'Alta_2 (NO)',
 'publicMessage': None,
 'photo': [{'lien': 'https://filer.eco-counter-tools.com/file/c3/a6b6e6ded8b909892faafb44eebf6883120ef9ab7695ccb8aca0401899b1fec3/14315298005820.jpg'}],
 'lienPublic': None,
 'pratique': [{'pratique': 2, 'id': 101021443},
  {'pratique': 2, 'id': 102021443}],
 'mainPratique': 2,
 'filtre': None,
 'formule_site': None,
 'fin': None,
 'debut': '01/01/2013',
 'finPeriode': None,
 'debutPeriode': '01/01/2021',
 'current_year_default': 1,
 'externalUrl': 'https://www.eco-compteur.com',
 'nomOrganisme': 'Bike Count Display Interactive Map',
 'logo': 'https://filer.eco-counter-tools.com/file/33/43649b3090eaa41e49d73bb31ff037efe2f97745f8a8e8eafb3baab42acf6433/1556292443839.png',
 'pays': 'fr',
 'sig': 1,
 'pictoPublic': 'totem_vert.png',
 'today': '27/09/2021',
 'total': 33606,
 'lastDay': 79,
 'moyD': 125,
 'totalLY': None,
 'lastDay8': None,
 'moyDLY': None,
 'nbDays': None,
 'nbDaysLY': None}

In [6]:
with open('counting_stations_metadata_global.json', 'w') as outfile:
    json.dump(data_json, outfile)

In [7]:
file = open('counting_stations_metadata_global.json',)
counting_stations_metadata_global = json.load(file)

In [54]:
counting_stations_metadata_global[0]

{'token': None,
 'id_pdc_img': 0,
 'idPdc': 100021443,
 'lat': 69.96787,
 'lon': 23.36929,
 'nom': 'Alta_2 (NO)',
 'publicMessage': None,
 'photo': [{'lien': 'https://filer.eco-counter-tools.com/file/c3/a6b6e6ded8b909892faafb44eebf6883120ef9ab7695ccb8aca0401899b1fec3/14315298005820.jpg'}],
 'lienPublic': None,
 'pratique': [{'pratique': 2, 'id': 101021443},
  {'pratique': 2, 'id': 102021443}],
 'mainPratique': 2,
 'filtre': None,
 'formule_site': None,
 'fin': None,
 'debut': '01/01/2013',
 'finPeriode': None,
 'debutPeriode': '01/01/2021',
 'current_year_default': 1,
 'externalUrl': 'https://www.eco-compteur.com',
 'nomOrganisme': 'Bike Count Display Interactive Map',
 'logo': 'https://filer.eco-counter-tools.com/file/33/43649b3090eaa41e49d73bb31ff037efe2f97745f8a8e8eafb3baab42acf6433/1556292443839.png',
 'pays': 'fr',
 'sig': 1,
 'pictoPublic': 'totem_vert.png',
 'today': '26/09/2021',
 'total': 33527,
 'lastDay': 43,
 'moyD': 125,
 'totalLY': None,
 'lastDay8': None,
 'moyDLY': None,
 'nbDays': None,
 'nbDaysLY': None}

In [47]:
def get_position_of_brackets(String):
    first = String.find('(')
    second = String.find(')')
    return [first,second]

def get_country_between_brackets(String, brackets_index):
    country = String[brackets_index[0]+1: brackets_index[1]]
    return country

def get_city_and_number_from_name(String):
    first, second = get_position_of_brackets(String)
    city = String[:first].strip()
    index = String.find('_')
    number = 1
    if index != -1:
        number = city[index+1]
        city = city[:index]
    return city, number
    
print(get_city_and_number_from_name("Heidelberg_2 (DE)"))

('Heidelberg', '2')

In [48]:
name_list = []
number_list=[]
latitude_list = []
longitude_list= []
id_list = []
columns = ["name", "number", "latitude", "longitude", "id_list"]

In [49]:
german_counting_stations = []
for counting_station in counting_stations_metadata_global:
    name = counting_station["nom"]
    brackets_index = get_position_of_brackets(name)
    country = get_country_between_brackets(name, brackets_index)
    if country == "DE":
        german_counting_stations.append(counting_station)
        id_list.append(counting_station["id_pdc_img"])
        station_name ,station_number = get_city_and_number_from_name(counting_station["nom"])
        name_list.append(station_name)
        number_list.append(station_number)
        latitude_list.append(counting_station["lat"])
        longitude_list.append(counting_station["lon"])

In [51]:
df = pd.DataFrame(
    list(zip(name_list, number_list, 
             latitude_list, longitude_list, 
             id_list)),
               columns =columns)

In [52]:
df

                 name number   latitude  longitude    id_list
0            Sommerda      1  51.287374  11.060599  100055269
1           Stuttgart      1  48.784240   9.147031  100063203
2           Stuttgart      2  48.826000   9.214880  100063205
3           Stuttgart      3  48.716494   9.086520  100061257
4           Stuttgart      4  48.739821   9.152228  100061633
5           Stuttgart      5  48.740003   9.226692  100061648
6           Stuttgart      6  48.811509   9.167497  100062943
7           Stuttgart      7  48.809354   9.105381  100062945
8           Stuttgart      8  48.779637   9.248607  100063204
9            Arnsberg      1  51.440702   7.964296  100063831
10          Heilbronn      1  49.146900   9.210600  100064303
11            Detmold      1  51.942008   8.851882  100063124
12          Böblingen      1  48.711745   9.081563          0
13         Heidelberg      2  49.406723   8.694240  100012608
14            Lörrach      1  47.619700   7.659320  100008949
15          Heilbronn      1  49.139652   9.214609  100011532
16         Heidelberg      1  49.409110   8.676661  100011985
17  Kirchheim u. Teck      1  48.645190   9.451567  100013457
18            Rostock      1  54.091523  12.149422  100005395
19         Düsseldorf      1  51.220154   6.767121  100016424
20          Göttingen      1  51.553110   9.940080  100011600
21          Göttingen      2  51.536920   9.929260  100020630
22          Nuremberg      1  49.448765  11.082456  100023462
23            Rostock      2  54.090340  12.136050  100005394
24           Freiburg      1  47.995213   7.840753  100004164
25          Karlsruhe      1  49.007286   8.402715  100004165
26           Tübingen      1  48.518017   9.048007  100003358
27           Erkelenz      1  51.081950   6.310480  100026875
28            Hanover      1  52.376893   9.726938  100029988
29          Offenbach      1  50.112920   8.751783  100030216
30            Hanover      2  52.362137   9.739617  100030582
31            Hanover      3  52.368595   9.735394  100030786
32            Hanover      4  52.368101   9.720148  100032318
33               Bonn      1  50.737632   7.106627  100019810
34            Münster      H  51.954617   7.626306  100032097
35            Münster      N  51.966988   7.615511  100032098
36            Hamburg      1  53.559240  10.008480  100031011
37          Stuttgart      1  48.799126   9.210372  100034882
38             Munich      1  48.130472  11.581846  100036669
39           Erlangen      1  49.592729  11.005598  100038660
40        Ludwigsburg      1  48.893189   9.192943  100041999
41            Mülheim      1  51.430373   6.881871  100040200
42         Oberhausen      1  51.491039   6.874387  100041767
43           Dortmund      1  51.499250   7.426730  100042617
44          Göppingen      1  48.721735   9.591439  100045673
45      Aschaffenburg      1  49.973150   9.150790  100046798
46           Konstanz      1  47.669360   9.174670  100046462
47     Region Hanover      4  52.317000   9.721000  100044791
48     Region Hanover      3  52.351010   9.941850  100044790
49     Region Hanover      2  52.493430   9.867810  100044789
50     Region Hanover      1  52.378500   9.630080  100044788
51            Lörrach      2  47.618529   7.672215  100038858
52          Erftstadt      1  50.801988   6.827440  100043879
53          Osnabrück      1  52.279965   8.055056  100050631
54          Darmstadt      1  49.847430   8.646020  100050420
55         Litzendorf      1  49.915281  11.002216  100053263

In [53]:
df.to_csv("counting_stations_germany_metadata.csv")