In [68]:
import pathlib
import os
import requests
from urllib.parse import urlparse, parse_qs
from io import BytesIO
import pandas as pd
import json

import math


# city api https://public.opendatasoft.com/

In [34]:
df_metadata = pd.read_csv("counting_stations_germany_metadata.csv", index_col = 0)
df_metadata[:5]

        name number   latitude  longitude    id_list  fetched data ?
0   Sommerda      1  51.287374  11.060599  100055269               0
1  Stuttgart      1  48.784240   9.147031  100063203               1
2  Stuttgart      2  48.826000   9.214880  100063205               0
3  Stuttgart      3  48.716494   9.086520  100061257               0
4  Stuttgart      4  48.739821   9.152228  100061633               1

In [61]:
city_names = list(df_metadata["name"])
city_names = list(dict.fromkeys(city_names))
if "Region Hanover" in city_names: 
    city_names.remove("Region Hanover")
city_names

['Sommerda',
 'Stuttgart',
 'Arnsberg',
 'Heilbronn',
 'Detmold',
 'Böblingen',
 'Heidelberg',
 'Lörrach',
 'Kirchheim u. Teck',
 'Rostock',
 'Düsseldorf',
 'Göttingen',
 'Nuremberg',
 'Freiburg',
 'Karlsruhe',
 'Tübingen',
 'Erkelenz',
 'Hanover',
 'Offenbach',
 'Bonn',
 'Münster',
 'Hamburg',
 'Munich',
 'Erlangen',
 'Ludwigsburg',
 'Mülheim',
 'Oberhausen',
 'Dortmund',
 'Göppingen',
 'Aschaffenburg',
 'Konstanz',
 'Erftstadt',
 'Osnabrück',
 'Darmstadt',
 'Litzendorf']

In [62]:
BASE_URL = "https://nominatim.openstreetmap.org/search.php?format=jsonv2&city="

In [63]:
columns = ["city", "latitude", "longitude"]
latitute = []
longitude = []
for city in city_names:
    print(city)
    url_endpoint = BASE_URL + city
    response = requests.get(url_endpoint)
    data_json = json.loads(response.content)  
    lat = data_json[0]["lat"]
    long = data_json[0]["lon"]
    latitute.append(lat)
    longitude.append(long)

Sommerda
Stuttgart
Arnsberg
Heilbronn
Detmold
Böblingen
Heidelberg
Lörrach
Kirchheim u. Teck
Rostock
Düsseldorf
Göttingen
Nuremberg
Freiburg
Karlsruhe
Tübingen
Erkelenz
Hanover
Offenbach
Bonn
Münster
Hamburg
Munich
Erlangen
Ludwigsburg
Mülheim
Oberhausen
Dortmund
Göppingen
Aschaffenburg
Konstanz
Erftstadt
Osnabrück
Darmstadt
Litzendorf

In [65]:
lat

'49.9123064'

In [66]:
df = pd.DataFrame(list(zip(city_names, latitute,longitude)),
               columns =columns)  

df

                 city            latitude          longitude
0            Sommerda          51.1618258         11.1174874
1           Stuttgart          48.7784485          9.1800132
2            Arnsberg          51.4002384          8.0605908
3           Heilbronn           49.142291           9.218655
4             Detmold           51.936284          8.8791526
5           Böblingen           48.684969          9.0113444
6          Heidelberg          49.4093582           8.694724
7             Lörrach          47.6120896          7.6607218
8   Kirchheim u. Teck          48.6480545          9.4510227
9             Rostock          54.0924445         12.1286127
10         Düsseldorf          51.2254018          6.7763137
11          Göttingen          51.5328328          9.9351811
12          Nuremberg           49.453872          11.077298
13           Freiburg          47.9960901          7.8494005
14          Karlsruhe          49.0068705          8.4034195
15           Tübingen          48.5236164          9.0535531
16           Erkelenz           51.080992          6.3160684
17            Hanover          52.3744779          9.7385532
18          Offenbach          50.1055002          8.7610698
19               Bonn           50.735851            7.10066
20            Münster          51.9625101          7.6251879
21            Hamburg           53.550341          10.000654
22             Munich          48.1371079         11.5753822
23           Erlangen          49.5978157         11.0038064
24        Ludwigsburg          48.8953937          9.1895147
25            Mülheim          51.4272925          6.8829192
26         Oberhausen          51.4696137          6.8514435
27           Dortmund          51.5142273          7.4652789
28          Göppingen          48.7031377          9.6541116
29      Aschaffenburg          49.9740542          9.1493636
30           Konstanz           47.659216          9.1750718
31          Erftstadt  50.789981999999995  6.781549221222182
32          Osnabrück          52.2719595           8.047635
33          Darmstadt           49.872775           8.651177
34         Litzendorf          49.9123064         11.0096505

In [67]:
file_name = "geolocation_cities" + ".csv"

path = os.path.join("metadata",file_name )

df.to_csv(path)

# Calculate distance from center to bike counting station

In [116]:
def calculate_distance(lat1, lon1, lat2, lon2): # in km
    R = 6371 # km
    φ1 = lat1 * math.pi/180 # φ, λ in radians
    φ2 = lat2 * math.pi/180
    Δφ = (lat2-lat1) * math.pi/180
    Δλ = (lon2-lon1) * math.pi/180

    a = math.sin(Δφ/2) * math.sin(Δφ/2) + math.cos(φ1) * math.cos(φ2) * math.sin(Δλ/2) * math.sin(Δλ/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))

    d = R * c # in metres
    return round(d,4)
    
lat1 = 49.872775
lon1 = 8.651177
lat2 = 49.9123064
lon2 = 11.0096505
calculate_distance(lat1, lon1, lat2, lon2)

168.9979

In [117]:
# read data from metadata

df_metadata = pd.read_csv("counting_stations_germany_metadata.csv", index_col = 0)
df_metadata[:5]

        name number   latitude  longitude    id_list  fetched data ?
0   Sommerda      1  51.287374  11.060599  100055269               0
1  Stuttgart      1  48.784240   9.147031  100063203               1
2  Stuttgart      2  48.826000   9.214880  100063205               0
3  Stuttgart      3  48.716494   9.086520  100061257               0
4  Stuttgart      4  48.739821   9.152228  100061633               1

In [118]:
df_metadata.loc[df_metadata["name"] == "Region Hanover", "name"] = "Hanover"

In [111]:
df_cities_geolocation = pd.read_csv("metadata/geolocation_cities.csv", index_col = 0)
df_cities_geolocation[:5]

        city   latitude  longitude
0   Sommerda  51.161826  11.117487
1  Stuttgart  48.778449   9.180013
2   Arnsberg  51.400238   8.060591
3  Heilbronn  49.142291   9.218655
4    Detmold  51.936284   8.879153

In [112]:
# calcuate distance between city centre and bike counting station
distances = []
for index, row in df_metadata.iterrows():
    # counting station data
    counting_station_lat = row['latitude']
    counting_station_long = row['longitude']
    counting_station_city = row["name"]
    # city data
    city_series = df_cities_geolocation.loc[df_cities_geolocation['city'] == counting_station_city]
    city_lat = city_series["latitude"].values[0]
    city_long = city_series["longitude"].values[0]

    distance = calculate_distance(counting_station_lat, counting_station_long, city_lat, city_long)
    distances.append(distance)

In [114]:
# add distances to dataframe

df_metadata["distance_to_city_centre"] = distances

In [115]:
df_metadata

,name,number,latitude,longitude,id_list,fetched data ?,distance
0,Sommerda,1,51.287374,11.060599,100055269,0,14.5115
1,Stuttgart,1,48.784240,9.147031,100063203,1,2.5009
2,Stuttgart,2,48.826000,9.214880,100063205,0,5.8718
3,Stuttgart,3,48.716494,9.086520,100061257,0,9.7184
4,Stuttgart,4,48.739821,9.152228,100061633,1,4.7536
5,Stuttgart,5,48.740003,9.226692,100061648,1,5.4757
6,Stuttgart,6,48.811509,9.167497,100062943,1,3.7888
7,Stuttgart,7,48.809354,9.105381,100062945,1,6.4573
8,Stuttgart,8,48.779637,9.248607,100063204,1,5.0278
9,Arnsberg,1,51.440702,7.964296,100063831,0,8.0516
10,Heilbronn,1,49.146900,9.210600,100064303,0,0.7784
11,Detmold,1,51.942008,8.851882,100063124,0,1.9749
12,Böblingen,1,48.711745,9.081563,0,0,5.9517
13,Heidelberg,2,49.406723,8.694240,100012608,0,0.2951
14,Lörrach,1,47.619700,7.659320,100008949,0,0.8527
15,Heilbronn,1,49.139652,9.214609,100011532,0,0.4156
16,Heidelberg,1,49.409110,8.676661,100011985,1,1.3071
17,Kirchheim u. Teck,1,48.645190,9.451567,100013457,0,0.3210
18,Rostock,1,54.091523,12.149422,100005395,0,1.3609
19,Düsseldorf,1,51.220154,6.767121,100016424,1,0.8662
20,Göttingen,1,51.553110,9.940080,100011600,0,2.2800
21,Göttingen,2,51.536920,9.929260,100020630,0,0.6118
22,Nuremberg,1,49.448765,11.082456,100023462,0,0.6793
23,Rostock,2,54.090340,12.136050,100005394,1,0.5385
24,Freiburg,1,47.995213,7.840753,100004164,0,0.6508
25,Karlsruhe,1,49.007286,8.402715,100004165,1,0.0691
26,Tübingen,1,48.518017,9.048007,100003358,0,0.7447
27,Erkelenz,1,51.081950,6.310480,100026875,0,0.4047
28,Hanover,1,52.376893,9.726938,100029988,0,0.8329
29,Offenbach,1,50.112920,8.751783,100030216,0,1.0580
30,Hanover,2,52.362137,9.739617,100030582,0,1.3741
31,Hanover,3,52.368595,9.735394,100030786,0,0.6884
32,Hanover,4,52.368101,9.720148,100032318,0,1.4367
33,Bonn,1,50.737632,7.106627,100019810,1,0.4643
34,Münster,H,51.954617,7.626306,100032097,0,0.8810
35,Münster,N,51.966988,7.615511,100032098,0,0.8291
36,Hamburg,1,53.559240,10.008480,100031011,0,1.1164
37,Stuttgart,1,48.799126,9.210372,100034882,1,3.1989
38,Munich,1,48.130472,11.581846,100036669,0,0.8801
39,Erlangen,1,49.592729,11.005598,100038660,0,0.5802
40,Ludwigsburg,1,48.893189,9.192943,100041999,0,0.3506
41,Mülheim,1,51.430373,6.881871,100040200,0,0.3501
42,Oberhausen,1,51.491039,6.874387,100041767,0,2.8636
43,Dortmund,1,51.499250,7.426730,100042617,1,3.1451
44,Göppingen,1,48.721735,9.591439,100045673,0,5.0419
45,Aschaffenburg,1,49.973150,9.150790,100046798,1,0.1432
46,Konstanz,1,47.669360,9.174670,100046462,0,1.1284
47,Hanover,4,52.317000,9.721000,100044791,0,6.5015
48,Hanover,3,52.351010,9.941850,100044790,0,14.0488
49,Hanover,2,52.493430,9.867810,100044789,0,15.8661
50,Hanover,1,52.378500,9.630080,100044788,0,7.3769
51,Lörrach,2,47.618529,7.672215,100038858,0,1.1202
52,Erftstadt,1,50.801988,6.827440,100043879,0,3.4908
53,Osnabrück,1,52.279965,8.055056,100050631,0,1.0234
54,Darmstadt,1,49.847430,8.646020,100050420,1,2.8424
55,Litzendorf,1,49.915281,11.002216,100053263,0,0.6267