In [1]:
from seleniumwire import webdriver
import time
import pathlib
import os
import requests
from urllib.parse import urlparse, parse_qs
from io import BytesIO
import pandas as pd
import json

# Get metadata of all bike counting stations of a certain city

In [2]:
URL_STUTTGART = 'https://data.eco-counter.com/ParcPublic/?id=607#'

In [3]:
# get driver path
current_path = pathlib.Path().resolve()
driver_path = os.path.join(current_path, "chromedriver")

driver = webdriver.Chrome(driver_path)

driver.get(URL_STUTTGART)

# wait for page to load competletely
time.sleep(1)

In [4]:
# get all requests made by the page
all_requests = driver.requests

In [5]:
# define target url, which shall be filtered out
TARGET_URL = "www.eco-visio.net"
GET_REQUEST = ""

Filter out the get request made to the database and get the metadata of all bike counting stations in a city

In [6]:
for request in all_requests:
    # parse url and filter out query param
    parsed_url = urlparse(request.url)
    query_dictionary = parse_qs(parsed_url.query)
    # check if target url matches
    if (parsed_url.netloc == TARGET_URL):
        GET_REQUEST = request
        print(GET_REQUEST.url)
        break

https://www.eco-visio.net/api/aladdin/1.0.0/pbl/publicwebpageplus/607?withNull=true

Fetch metadata information of all counting stations of a certain city

In [7]:
url_endpoint = GET_REQUEST
response = requests.get(url_endpoint)
response

extract relevant metadata of the counting stations and save it to json file

In [8]:
data_json = json.loads(response.content)

In [9]:
counting_station_list = []
for counting_station in data_json:
    counting_station_dict = {}
    counting_station_dict["id"] = counting_station["idPdc"]
    counting_station_dict["name"] = counting_station["nom"]
    counting_station_dict["latitude"] = counting_station["lat"]
    counting_station_dict["longitude"] = counting_station["lon"]
    counting_station_dict["start_time"] = counting_station["debut"]
    counting_station_list.append(counting_station_dict)

In [10]:
data = {}
data['Stuttgart'] = counting_station_list

In [11]:
with open('metadata/counting_stations_metadata.json', 'w') as outfile:
    json.dump(data, outfile)

# Get data from bike counting stations

In [17]:
df_metadata_counting_stations = pd.read_csv('/metadata/counting_stations_germany_metadata.csv', index_col = 0) 
df_metadata_counting_stations[:5]

        name number   latitude  longitude    id_list
0   Sommerda      1  51.287374  11.060599  100055269
1  Stuttgart      1  48.784240   9.147031  100063203
2  Stuttgart      2  48.826000   9.214880  100063205
3  Stuttgart      3  48.716494   9.086520  100061257
4  Stuttgart      4  48.739821   9.152228  100061633

In [96]:
df_row = df_metadata_counting_stations.loc[df_metadata_counting_stations['id_list'] == 100055269]
print(df_row["name"].values[0])
df_row["number"][0]

Sommerda

'1'

In [107]:
# get ids of all stations
counting_station_ids = list(df_metadata_counting_stations["id_list"])

In [109]:
BEGIN = 20160101
END = 20210926
STEP = 2

In [110]:
# Create URL for specific bike counting station

def get_data_api_request(counting_station_id):
    driver = webdriver.Chrome(driver_path)

    # define target url, which shall be filtered out
    TARGET_URL = "www.eco-visio.net"
    target_get_request = ""
    BASE_URL = "https://data.eco-counter.com/public2/?id=" +  str(counting_station_id)
    driver.get(BASE_URL)
    # wait for page to load competletely
    time.sleep(1)

    # get all requests made by the page
    all_requests = driver.requests
    
    for request in all_requests:
        # parse url and filter out query param
        parsed_url = urlparse(request.url)
        query_dictionary = parse_qs(parsed_url.query)
        # check if target url matches and has a token in query
        if (parsed_url.netloc == TARGET_URL and "t" in query_dictionary):
            target_get_request = request
            break
            
            
    driver.close()
    return target_get_request

# Make Request and fetch the data
    
def create_data_api_request(get_request):
    parsed_url = urlparse(get_request.url)
    query_dictionary = parse_qs(parsed_url.query)
    
    query_dictionary = parse_qs(parsed_url.query)
    
    # Define Query Parameters for fetching the Data
    
    query_dictionary["begin"] = BEGIN
    query_dictionary["end"] = END
    query_dictionary["step"] = STEP
    
    url_endpoint = parsed_url.scheme + "://" + parsed_url.netloc + parsed_url.path
    return url_endpoint, query_dictionary

# Convert fetched data stream to csv

def save_data_to_csv(data_json, counting_station_id):
    keys = data_json[0].keys()
    date_list = []
    comptage_list = []
    timestamp_list = []   
    columns = ["date", "comptage", "timestamp"]
    for data_object in data_json:
        date_list.append(data_object["date"])
        comptage_list.append(data_object["comptage"])
        timestamp_list.append(data_object["timestamp"])    
    # Calling DataFrame constructor after zipping
    # both lists, with columns specified
    df = pd.DataFrame(list(zip(date_list, comptage_list,timestamp_list)),
                   columns =columns)  
    
    #create name
    df_row = df_metadata_counting_stations.loc[df_metadata_counting_stations['id_list'] == counting_station_id]  
    file_name = df_row["name"].values[0] + "_" + df_row["number"].values[0] + ".csv"
    
    path = os.path.join("data",file_name )
    
    df.to_csv(path)

In [115]:
found_data_list = []

for counting_station_id in counting_station_ids:
    
    get_request = get_data_api_request(counting_station_id)
    if get_request != "":
        
        url_endpoint, query_dictionary = create_data_api_request(get_request)
        response = requests.get(url_endpoint, params=query_dictionary)
        print(response)
        
        data_json = json.loads(response.content)
        save_data_to_csv(data_json, counting_station_id)
        
        found_data_list.append(1)
    else:
        
        found_data_list.append(0)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [116]:
len(found_data_list)

56

In [117]:
df_metadata_counting_stations['fetched data ?'] = found_data_list

In [118]:
df_metadata_counting_stations

                 name number   latitude  longitude    id_list  fetched data ?
0            Sommerda      1  51.287374  11.060599  100055269               0
1           Stuttgart      1  48.784240   9.147031  100063203               1
2           Stuttgart      2  48.826000   9.214880  100063205               0
3           Stuttgart      3  48.716494   9.086520  100061257               0
4           Stuttgart      4  48.739821   9.152228  100061633               1
5           Stuttgart      5  48.740003   9.226692  100061648               1
6           Stuttgart      6  48.811509   9.167497  100062943               1
7           Stuttgart      7  48.809354   9.105381  100062945               1
8           Stuttgart      8  48.779637   9.248607  100063204               1
9            Arnsberg      1  51.440702   7.964296  100063831               0
10          Heilbronn      1  49.146900   9.210600  100064303               0
11            Detmold      1  51.942008   8.851882  100063124               0
12          Böblingen      1  48.711745   9.081563          0               0
13         Heidelberg      2  49.406723   8.694240  100012608               0
14            Lörrach      1  47.619700   7.659320  100008949               0
15          Heilbronn      1  49.139652   9.214609  100011532               0
16         Heidelberg      1  49.409110   8.676661  100011985               1
17  Kirchheim u. Teck      1  48.645190   9.451567  100013457               0
18            Rostock      1  54.091523  12.149422  100005395               0
19         Düsseldorf      1  51.220154   6.767121  100016424               1
20          Göttingen      1  51.553110   9.940080  100011600               0
21          Göttingen      2  51.536920   9.929260  100020630               0
22          Nuremberg      1  49.448765  11.082456  100023462               0
23            Rostock      2  54.090340  12.136050  100005394               1
24           Freiburg      1  47.995213   7.840753  100004164               0
25          Karlsruhe      1  49.007286   8.402715  100004165               1
26           Tübingen      1  48.518017   9.048007  100003358               0
27           Erkelenz      1  51.081950   6.310480  100026875               0
28            Hanover      1  52.376893   9.726938  100029988               0
29          Offenbach      1  50.112920   8.751783  100030216               0
30            Hanover      2  52.362137   9.739617  100030582               0
31            Hanover      3  52.368595   9.735394  100030786               0
32            Hanover      4  52.368101   9.720148  100032318               0
33               Bonn      1  50.737632   7.106627  100019810               1
34            Münster      H  51.954617   7.626306  100032097               0
35            Münster      N  51.966988   7.615511  100032098               0
36            Hamburg      1  53.559240  10.008480  100031011               0
37          Stuttgart      1  48.799126   9.210372  100034882               1
38             Munich      1  48.130472  11.581846  100036669               0
39           Erlangen      1  49.592729  11.005598  100038660               0
40        Ludwigsburg      1  48.893189   9.192943  100041999               0
41            Mülheim      1  51.430373   6.881871  100040200               0
42         Oberhausen      1  51.491039   6.874387  100041767               0
43           Dortmund      1  51.499250   7.426730  100042617               1
44          Göppingen      1  48.721735   9.591439  100045673               0
45      Aschaffenburg      1  49.973150   9.150790  100046798               1
46           Konstanz      1  47.669360   9.174670  100046462               0
47     Region Hanover      4  52.317000   9.721000  100044791               0
48     Region Hanover      3  52.351010   9.941850  100044790               0
49     Region Hanover      2  52.493430   9.867810  100044789               0
50     Region Hanover      1  52.378500   9.630080  100044788               0
51            Lörrach      2  47.618529   7.672215  100038858               0
52          Erftstadt      1  50.801988   6.827440  100043879               0
53          Osnabrück      1  52.279965   8.055056  100050631               0
54          Darmstadt      1  49.847430   8.646020  100050420               1
55         Litzendorf      1  49.915281  11.002216  100053263               0